.interview{
    min-height: 100vh;
    background-color: #100C08;
    color: wheat;
}
.interviewBody{
    margin-left: 15%;
    margin-right: 15%;
}
.intervo{
    margin-top: 30px;
    font-size: 30px;
}
.interviewFrame{
    border: 2px solid wheat;
    height: 600px;
    margin-top: 20px;
}
.borderLine{
    border: 2px solid wheat;
}
.green{
    height: 15px;
    width: 15px;
    background-color: green;
    margin-left: 5px;
}
.red{
    background-color: red;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.schedule{
    text-align: center;
}
.options{
    margin-left: 10%;
    margin-right: auto;
}
.fullBar{
    width: 400px;
}