.newJob{
  background-color: #100C08;
color: wheat;
}
.noJob{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.file{
  margin-top: 50px;
  width: 300px;
}
.job {
    background-color: #100C08;
    color: wheat;
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;

}
.jobMarket{
    margin-left: 5%;
    margin-right: 5%;
}
.dropDown{
    background-color: #100C08;
    margin-left: 100px;
}
.jobButton{
    margin-left: 100px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    height: 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ccc;
    color: #fff;
  }
  
  .fa-search {
    font-size: 16px;
  }
  .jobButton{
    height: 38px;
    border: 2px solid wheat;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }