.candidatelemet {
    background-color: #100C08;
    color: wheat;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;


}

.templatebarrier {
    height: 150px;
    width: 400px;
    border: solid 2px wheat;
    border-radius: 20px;

}

.templateClassification {
    margin-left: 25%;
    margin-top: 40px;
    display: flex;
}

.interviewHeader {
    font-size: 20px;
}

.choseTemplate {
    margin-top: 130px;
}

.icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.Large_icon {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.list {

    margin-top: 100px;
}

.temp {
    margin-right: 15%;
    margin-left: 15%;
}

.code {
    border-radius: 30px;
    width: 300px;
    text-align: center;
    padding-left: 20px;
    padding-right: 40px;

}

.blank {
    background-color: #100C08;
    color: wheat;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    ;
}

.mainBlankPage {
    margin-left: 15%;
    margin-right: 15%
}

.StageNumber {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.interviewType {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.interviewTypeHeader {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
}

.subb {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 20px;
}

.cardfd {
    text-align: center;
    border: #92602e 1px solid;
    border-radius: 30px;
    height: 300px;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.mailandtalk {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.coding {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.details {
    background-color: #100C08;
    color: wheat;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.detailss {
    margin-left: 15%;
    margin-right: 15%;
}

.descrip {
    margin-top: 80px;
    width: 700px;
    height: 150px;
}

.checkBox {
    margin-top: 80px;
}

.fill {
    margin-left: 5%;
    margin-right: 5%;
    padding: 70px 70px 50px 50px;
    background-color: #1f1810 !important;
    border-radius: 50px;
    border: 4px solid black;
    position: relative;
    bottom: 30px;

}

.border {
    margin-top: 60px;
    border: 2px dotted;
}

.addgroup {
    text-align: center;

}

.groupcolor {
    height: 30px;
    background-color: wheat;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: black !important;
    padding-top: 4px;
    border-radius: 10px;
}

.check {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add {
    text-align: center;
    margin-top: 30px;
}

.arrow {
    transform: rotate(-90deg);
    width: 25px;
    margin-right: 10px;
}

.dots {
    transform: rotate(-90deg);
    width: 20px;
}

.addquestion {
    text-align: center;
}

.quest {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 50px;
}

.prev {
    background-color: #100C08;
    color: wheat;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.preview {
    margin-left: 10%;
    margin-right: 10%;

}

.reminder {
    width: 60%;
    background-color: #1f1810 !important;
    height: 300px;


}

.fin {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 200px;
    background-color: wheat;
    color: #1f1810 !important;
}

.finn {
    text-align: center;
}

.dotss {
    transform: rotate(-90deg);
    width: 20px;
    position: relative;
    bottom: 8px;
}

.questions {
    height: 300px;
    background-color: #1f1810 !important;
    padding-top: 1px;
}

.checklist {
    background-color: #1f1810 !important;
    width: 40%;
}

.takeHome {
    background-color: #100C08;
    color: wheat;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.take {
    margin-left: 15%;
    margin-right: 15%;
}
.titleInput{
    width: 80%;
    border-radius: 7px;
    margin-bottom: 20px;
}
.takeHomedes{
    margin-top: 15px;
    width: 80%;
    height: 200px;
}