@tailwind base;
@tailwind components;
@tailwind utilities;
.whole_Land {
  background-color: #100C08;
  color: wheat;
}

.love {
  color: green;
  font-size: 40px;
}

.template {
  margin-bottom: 160px;
}

.section_Text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.section_Text_main {
  font-size: 40px;
}

.section_Text_sub {
  font-size: 20px;
}

.start {
  border: wheat 1px solid;
  height: 40px;
  width: 200px;
}

.demo {
  background: red;
  height: 40px;
  width: 200px;
}

.landing {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #100C08;
}

.hero {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

.info {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 150px;
  font-family: "Montserrat", sans-serif;
}

.info_Card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

.info_card_header {
  font-weight: bold;
  text-align: center;
}

.info_Card_img {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.cardd {
  background-color: rgb(39, 39, 39);
  border-radius: 30px;
  border: 3px solid wheat;
  max-width: 400px;
}

.info_Card_img2 {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.info_card_text {
  text-align: center;
}

.learn {
  position: relative;
  left: 30%;
}

.track_button {
  width: 100px;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 18px;
}

.vis {
  margin-top: 25px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.finger {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.overview {
  font-size: 30px;
}

.struk {
  margin-top: 160px;
}

.over {
  width: 600px;
}

.accesss {
  margin-left: 5%;
  margin-right: 5%;
}

.platt {
  margin-top: 140px;
}

.recr {
  margin-bottom: 150px;
}

@media only screen and (max-width: 768px) {
  .info_Card {
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .platfo {
    width: 200px !important;
  }
  .access {
    width: 300px !important;
    margin-bottom: 50px;
  }
  .decesion {
    width: 300px !important;
  }
  .over {
    width: 400px;
  }
  .integration {
    height: 400px;
  }
}
.unbased {
  border: wheat 3.5px solid;
  border-radius: 30px;
}

.candidate {
  font-family: "Montserrat", sans-serif;
  border: 3px solid wheat;
  border-radius: 50px;
  padding-top: 60px;
  margin-top: 120px;
}

.atss {
  font-family: "Montserrat", sans-serif;
  margin-top: 200px;
}

.integration {
  width: 300px;
  margin-left: 20px;
}

.ats {
  font-weight: 600;
}

.bring {
  margin-left: 30px;
}

.overlap {
  background-color: red;
  height: 800px;
}

.overlap2 {
  background-color: yellow;
  height: 800px;
  position: relative;
  top: 100px;
  left: 100px;
  z-index: 1;
}

.container {
  width: 800px;
  height: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.box {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  /* for demo purpose  */
  border-radius: 20px;
}

.inter {
  margin-top: 200px;
}

.tracky {
  margin-top: 160px;
}

.stack-top {
  z-index: 9;
  /* for demo purpose  */
  background-color: rgb(240, 67, 67);
  border-radius: 20px;
}

.struck {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  margin-bottom: 20px;
}

.Structure_text {
  text-align: center;
  font-size: 30px !important;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.predefined {
  margin-top: 5px;
  text-align: center;
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif;
}

.access {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.decesion {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.platfo {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-bottom: 50px;
}

.index {
  color: rgb(160, 172, 172);
}


.logo {
  width: 80px;
}

.main_Header {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.head {
  background-color: #100C08;
  color: wheat;
}

.auth {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid wheat;
  position: relative;
  top: 50px;
  width: 400px;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
}

.head_auth {
  height: 100vh;
  background-color: black;
}

.lock {
  width: 500px;
}

.babylon {
  text-align: center;
  font-size: 25px;
  color: wheat;
}

.inputDet {
  height: 35px;
  border: 2px solid wheat;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 10px;
  width: 70%;
}

.google {
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  background-color: black;
  color: wheat;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid wheat;
}

.github {
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 17px;
  height: 40px;
  background-color: black;
  color: wheat;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid wheat;
}

.forgot {
  color: wheat;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signIn {
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 35px;
  background-color: black;
  color: wheat;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid wheat;
}

.login_Icon {
  width: 28px;
  margin-right: 20px;
}

.dashBoard {
  background-color: #100C08;
  min-height: 100vh;
  color: wheat;
  font-family: "Montserrat", sans-serif;
}

.newJob {
  background-color: #100C08;
  color: wheat;
  height: 100vh;
}

.noJob {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.file {
  margin-top: 50px;
  width: 300px;
}

.job {
  background-color: #100C08;
  color: wheat;
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.jobMarket {
  margin-left: 5%;
  margin-right: 5%;
}

.submittButton {
  margin-right: auto;
  margin-left: auto;
}

.dropDown {
  background-color: #100C08;
  margin-left: 100px;
}

.jobButton {
  margin-left: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type=submit] {
  height: 30px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ccc;
  color: #fff;
}

.fa-search {
  font-size: 16px;
}

.jobButton {
  height: 38px;
  border: 2px solid wheat;
  border-radius: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.createJob {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 35px;
}

.option {
  margin-top: 150px;
}

.newJob {
  font-family: "Montserrat", sans-serif;
}

.process {
  margin-right: 200px;
  margin-left: 200px;
}

.fillForm {
  text-align: center;
}

.jobForm {
  background-color: #100C08;
  height: 100vh;
  color: wheat;
}

.tag {
  height: 100px;
}

.formInput {
  display: grid;
}

.joob {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleeTag {
  margin-left: 5px;
  margin-bottom: 4px;
  position: relative;
  bottom: 10px;
  color: red !important;
}

.tag {
  position: relative;
  top: 13px;
}

.candidatelemet {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.tett {
  font-size: 40px;
}

.AllCandidates {
  font-size: 40px;
}

.candidaTab {
  margin-left: 15%;
  margin-right: 15%;
}

.candidateTable {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  height: 600px;
  border: 2px solid wheat;
}

.candidateHead {
  border: 2px solid wheat;
  height: 50px;
}

.interview {
  min-height: 100vh;
  background-color: #100C08;
  color: wheat;
}

.interviewBody {
  margin-left: 15%;
  margin-right: 15%;
}

.intervo {
  margin-top: 30px;
  font-size: 30px;
}

.interviewFrame {
  border: 2px solid wheat;
  height: 600px;
  margin-top: 20px;
}

.borderLine {
  border: 2px solid wheat;
}

.green {
  height: 15px;
  width: 15px;
  background-color: green;
  margin-left: 5px;
}

.red {
  background-color: red;
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.candidatelemet {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.templatebarrier {
  height: 150px;
  width: 400px;
  border: solid 2px wheat;
  border-radius: 20px;
}

.templateClassification {
  margin-left: 25%;
  margin-top: 40px;
  display: flex;
}

.interviewHeader {
  font-size: 20px;
}

.choseTemplate {
  margin-top: 130px;
}

.icon {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.Large_icon {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.list {
  margin-top: 100px;
}

.temp {
  margin-right: 15%;
  margin-left: 15%;
}

.code {
  border-radius: 30px;
  width: 300px;
  text-align: center;
  padding-left: 20px;
  padding-right: 40px;
}

.blank {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.mainBlankPage {
  margin-left: 15%;
  margin-right: 15%;
}

.StageNumber {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.interviewType {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.interviewTypeHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
}

.subb {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 20px;
}

.cardfd {
  text-align: center;
  border: #92602e 1px solid;
  border-radius: 30px;
  height: 300px;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.mailandtalk {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.coding {
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.details {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.detailss {
  margin-left: 15%;
  margin-right: 15%;
}

.descrip {
  margin-top: 80px;
  width: 700px;
  height: 150px;
}

.checkBox {
  margin-top: 80px;
}

.fill {
  margin-left: 5%;
  margin-right: 5%;
  padding: 70px 70px 50px 50px;
  background-color: #1f1810 !important;
  border-radius: 50px;
  border: 4px solid black;
  position: relative;
  bottom: 30px;
}

.border {
  margin-top: 60px;
  border: 2px dotted;
}

.addgroup {
  text-align: center;
}

.groupcolor {
  height: 30px;
  background-color: wheat;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: black !important;
  padding-top: 4px;
  border-radius: 10px;
}

.check {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add {
  text-align: center;
  margin-top: 30px;
}

.arrow {
  transform: rotate(-90deg);
  width: 25px;
  margin-right: 10px;
}

.dots {
  transform: rotate(-90deg);
  width: 20px;
}

.addquestion {
  text-align: center;
}

.quest {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 50px;
}

.prev {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.preview {
  margin-left: 10%;
  margin-right: 10%;
}

.reminder {
  width: 60%;
  background-color: #1f1810 !important;
  height: 300px;
}

.fin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 200px;
  background-color: wheat;
  color: #1f1810 !important;
}

.finn {
  text-align: center;
}

.dotss {
  transform: rotate(-90deg);
  width: 20px;
  position: relative;
  bottom: 8px;
}

.questions {
  height: 300px;
  background-color: #1f1810 !important;
  padding-top: 1px;
}

.checklist {
  background-color: #1f1810 !important;
  width: 40%;
}

.takeHome {
  background-color: #100C08;
  color: wheat;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.take {
  margin-left: 15%;
  margin-right: 15%;
}

.titleInput {
  width: 80%;
  border-radius: 7px;
  margin-bottom: 20px;
}

.prev2 {
  margin-left: 15%;
  background-color: #1f1810 !important;
  margin-right: 15%;
  padding: 50px;
}

.assess {
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
}

.as {
  text-align: center;
}

.addAssessment {
  margin-left: auto;
  margin-right: auto;
}

.star {
  width: 20px;
  height: 28px;
  margin-right: 5px;
}

.takeHomedes {
  margin-top: 15px;
  width: 80%;
  height: 200px;
}/*# sourceMappingURL=globals.css.map */

.board {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.column {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 50px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: lightgray;
  margin-bottom: 5px;
}

.item p {
  margin: 0;
}

.item button {
  margin-left: 10px;
}
